<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="ISO-8859-1">
<title>Product</title>
</head>
<body>
      <main th:object="${item}" class="poly-item-detail">
        <div class="row">
        <div><h2 style="text-align:center;">Chi tiết sản phẩm</h2></div>
            <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <img th:src="@{|/image/images/*{image}|}" alt="">

                </div>
            </div>
            
            <div class="panel panel-primary">
                <div class="pane-body">
                    <ul>
                        <li th:text="*{name}"></li>
                        <li th:text="*{price}"></li>
                        <li th:text="*{category.name}"></li>

                    </ul>

                </div>

            </div>
            <div class="panel=footer text-right">
                <button class="btn btn success">
                    <i class="glyphicon glyphicon-shopping-cart"></i>

                </button>

            </div>

        </div>

        <!-- <h1>[[${item.name}]]</h1>
        <h1>[[${item.category.name}]]</h1> -->
    </main>


</body>
</html>